 ## 01. Importing Libraries

In [9]:
# Importing Libraries 
import pandas as pd 
import numpy as np
import os

## 02. Importing Data

In [11]:
# path variaable 
path = r'C:\Users\jmiel\JENNY_STUFF\MY_DOCS\CareerFoundry\Instacart Basket Analysis'

In [12]:
# Importing Products Dataframe 
df_prods= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [13]:
# Importing Orders Dataframe 
df_ords= pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

## 03. Mixed-Type Data

In [15]:
# Create a dataframe 
df_test = pd.DataFrame()

In [16]:
# Create a mixed type column 
df_test['mix'] = ['a', 'b', 1, True]

In [17]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [18]:
# Check for mixed types 
for col in df_test.columns.tolist():
    weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_test[weird]) > 0:
        print(col)

mix

In [19]:
# Fixing mixed data types 
df_test['mix'] = df_test['mix'].astype('str')

## 04. Missing Values

In [21]:
# Check missing observations in dataframe
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [22]:
# Create subset of dataframe containing missing values 
df_nan = df_prods[df_prods['product_name'].isnull() ==True]

In [23]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [24]:
# Data shape 
df_prods.shape

(49693, 5)

In [25]:
# Create dataframe without missing variables 
df_prods_clean = df_prods[df_prods['product_name'].isnull() ==False]

In [26]:
df_prods_clean.shape

(49677, 5)

## 05. Duplicates

In [28]:
# Finding duplicates in products dataframe 
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [29]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [30]:
df_prods_clean.shape

(49677, 5)

In [31]:
# Create a new dataframe containing unique values 
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [32]:
df_prods_clean_no_dups.shape

(49672, 5)

## Exporting Data

In [34]:
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

## Task 4.5

## 01 Data Consistency Check on Prods Dateframe 
# completed in exercise above

## 02 Statistical Findings on df_ords Dataframe

In [38]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [ ]:
# Observations 
In the days since prior order column, the count is slightly less compared to all other columns indicating possible missing observations.

## 03 Check for Mixed Type Data

In [63]:
# Check for mixed type data in df_ords dataframe 
for col in df_ords.columns.tolist(): 
    weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_ords[weird]) > 0:
        print(col)

In [65]:
# There does not appear to be any mixed data

## 04 Check for Missing Values in df_ords Dataframe

In [68]:
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [70]:
# There are 206,209 missing values in the days since prior order column. It is likely that these users are placing their first order.

## 05 Addressing Missing Values in df_ords Dataframe

In [73]:
# Determine the number of rows and columns before addressing missing values
df_ords.shape

(3421083, 7)

In [75]:
# Create a dataframe containing only the missing values 
df_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [77]:
df_nan

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
11,11,2168274,2,1,2,11,NaN
26,26,1374495,3,1,1,14,NaN
39,39,3343014,4,1,6,11,NaN
45,45,2717275,5,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,3420930,969311,206205,1,4,12,NaN
3420934,3420934,3189322,206206,1,3,18,NaN
3421002,3421002,2166133,206207,1,6,19,NaN
3421019,3421019,2227043,206208,1,1,15,NaN
3421069,3421069,3154581,206209,1,3,11,NaN

In [79]:
# Count how many order number values are 1
df_nan['order_number'].value_counts()

order_number
1    206209
Name: count, dtype: int64

In [81]:
# It is known that all missing values has an order ID of 1

In [83]:
# compare order number values of 1 in dr_ords dataframe 
df_ords['order_number'].value_counts()

order_number
1      206209
2      206209
3      206209
4      206209
5      182223
        ...
96       1592
97       1525
98       1471
99       1421
100      1374
Name: count, Length: 100, dtype: int64

In [85]:
# It has been confirmed that each time there is order ID of 1, the value is missing and it is the user's first order.

In [89]:
# Create a column showing first order
df_ords['first_order'] = df_ords['days_since_prior_order'].isnull()

In [91]:
df_ords

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,0,2539329,1,1,2,8,NaN,True
1,1,2398795,1,2,3,7,15.0,False
2,2,473747,1,3,3,12,21.0,False
3,3,2254736,1,4,4,7,29.0,False
4,4,431534,1,5,4,15,28.0,False
...,...,...,...,...,...,...,...,...
3421078,3421078,2266710,206209,10,5,18,29.0,False
3421079,3421079,1854736,206209,11,4,10,30.0,False
3421080,3421080,626363,206209,12,1,12,18.0,False
3421081,3421081,2977660,206209,13,1,12,7.0,False
3421082,3421082,272231,206209,14,6,14,30.0,False

In [95]:
# The data would be significantly skewed if the values were imputed or if the values were filtered / removed altogether. 
#Therefore,the best option is to create a new column that flags the values as true or false

## 06. Duplicate Values in df_ords Dataframe

In [99]:
# Determine if there are any duplicates in dataframe 
df_ords_dups=df_ords[df_ords.duplicated()]

In [101]:
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, first_order]
Index: []

In [103]:
# There are no duplicates in this dataframe.

In [107]:
df_ords.shape

(3421083, 8)

## Export df_ords clean data

In [110]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))